.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 75px;
  height: 75px;
  margin-bottom: 30px;
  background-color: #CCD2E4;
}

.btn-users {
  background-color: #6E80B1;
  border-color: #6E80B1;
  padding: 5px;
  margin-right: auto;
  margin-left: 20px;
  width: 100px;
}
