.header-content
  = link_to root_path do
    = image_tag 'Neocoast_Logos_RGB-06.svg', size: '83x40'
  - if user_signed_in?
    = link_to 'Users', users_path, class: 'button btn btn-primary btn-users'
