/ Button trigger modal
%button.btn.btn-primary.btn-delete{"data-post-id" => post_id, "data-target" => "#modalId", "data-toggle" => "modal", "type" => "button"}
  delete

/ Modal
.modal
  .modal-dialog.modal-dialog-centered{ role: "document" }
    .modal-content
      .modal-body
        Are you sure you want to delete this post?
      .modal-footer
        %button.btn.btn-secondary.close-modal{"data-dismiss" => "modal", type: "button"} Close
        %button.btn.btn-primary.btn-delete-post{ type: "button", "data-post-id" => post_id, "data-in-index" => in_index } delete
