.dropdown
  %button.btn.btn-primary.dropdown-toggle.btn-dropdown{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", type: "button"}
    Sort posts
  .dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
    %a.dropdown-item{ href: "#", data: { sort_by: 'date' } } Publishing date
    %a.dropdown-item{ href: "#", data: { sort_by: 'likes' }  } Number of likes
    %a.dropdown-item{ href: "#", data: { sort_by: 'trending' }  } Trending
