.followe-container
  = link_to following_user_path(user.id), class: 'link_to_following' do
    following
    %br
    .following_count
      = user.following.count
  = link_to followers_user_path(user.id), class: 'link_to_followers' do
    followers
    %br
    .followers_count
      = user.followers.count
