.users-container.d-flex.flex-column
  - if @filtered_users.present?
    = render partial: 'user', collection: @filtered_users, locals: { is_side_user: false.to_s, is_current_user: false.to_s, in_following: false.to_s, in_followers: false.to_s}
  - else
    .no-users
      No users found
= paginate @filtered_users if @filtered_users.present?
