.wrapper
  = render partial: 'side_user_data', locals: { user: @user }
  .posts-container.d-flex.flex-column
    - if @posts.present?
      = render partial: '/posts/post', collection: @posts
    - else
      .no-posts
        No posts found
