.wrapper
  .side
    = render partial: 'side_user_data', locals: { user: @user }
    - if @user != current_user
      - following = current_user.following?(@user).to_s
      = render partial: 'partials/btn-follow', locals: { user: @user, following: following }
  .posts-container.d-flex.flex-column
    - if @posts.present?
      = render partial: '/posts/post', collection: @posts
    - else
      .no-posts
        No posts found
