.wrapper
  .side
    = render partial: 'partials/side-bar', locals: { user: current_user }
    = link_to 'Users', users_path, class: 'button btn btn-primary btn-users'

  .posts-container.d-flex.flex-column
    - if @posts.present?
      = render partial: 'post', collection: @posts
    - else
      .no-posts
        No posts found
