.show-new-post-container {
    background-color: white;
    padding: 45px;
    padding-bottom: 35px;
    padding-top: 35px;
    border: solid;
    border-radius: 5px;
    border-color: #6E80B1;
    border-width: 1px;
    color: #626E90;
    width: 590px;
    margin: auto;
    margin-top: 75px;
}

.card-body {
    padding: 0px;
    color: #626E90;
}

.post-info {
    border-color: white;
    padding: 15px;
    color: #626E90;
}

.user-img-post {
    margin-top: 20px;
    width: 42px;
    height: 42px;
    width: 100%;
}

.post-img {
    width: 100%;
    height: 180%;
}
