.post-container {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    color: #626E90;
    max-width: 590px; 
    border-color: #6E80B1;
    margin: auto;
    margin-top: 75px;
}

.card-body {
    color: #626E90;
    margin-top: 10px;
    padding: 0px
}

.post-info {
    border-color: white;
    margin: 15px;
    color: #626E90;
    margin-left: 25px;
}

.user-img-post {
    width: 42px;
    height: 42px;
    margin-bottom: 10px;
    margin-top: 20px
}

.post-img {
    width: 100%;
    height: 180%;
}

.back-btn {
    margin-left: 45px;
}
