.users-container {
  background-color: white;
  border: solid;
  border-radius: 5px;
  border-width: 1px;
  color: #626E90;
  max-width: 590px; 
  margin: 10px;
  border-color: #6E80B1;
  margin: auto;
  height: fit-content;
}

.no-users {
  margin: 20px 45px;
  padding: 0px;
}

.user_link {
  color: #626E90;
  text-decoration: auto;
  display: -webkit-inline-box;
  width: 430px;
}

.users-container .row-user:last-of-type {
  border-bottom: none;
}

.pagination {
  justify-content: space-around;
  padding-top: 10px;
  width: 590px;
  justify-items: baseline;
  margin: auto;
  margin-top: 10px;
  padding-bottom: 10px;
  border-top: none;
  background-color: #CCD2E5;
  border-radius: 5px;
  margin-bottom: 30px;
}

.user-info {
  border-color: white;
  margin: 15px;
  color: #626E90;
  margin-left: 25px;
}

.row-user {
  align-items: center;
  padding-left: 45px;
  padding-right: 30px;
  display: -webkit-inline-box;
  border-bottom: solid;
  border-width: 1px;
}

.col-md-2 {
  align-self: center;
  align-items: center;
}

.btn-follow {
  margin-right: 10px;
  background-color: #6E80B1;
  border-color: #6E80B1;
  margin-top: 20px;
  width: -webkit-fill-available;
  padding: 5px;
  margin-right: 0px;
}

.btn-unfollow {
  margin-right: 10px;
  color:  #6E80B1;
  background-color: #EFF1F7;
  border-color: #6E80B1;
  margin-top: 20px;
  width: -webkit-fill-available;
  padding: 5px;
  margin-right: 0px;
}

.side {
  margin-left: auto;
}
