.btn-update {
  background-color: #6E80B1;
  display: inline-block;
  border-color: #6E80B1;
  margin-top: 20px;
}

.actions-edit-submit {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 15px;
}
