.d-flex {
    display: flex !important;
    flex: auto;
}

.field {
    width: 500px;
}

.sign-container {
    background-color: white;
    padding: 45px;
    padding-top: 35px;
    border: solid;
    border-radius: 5px;
    border-color: #6E80B1;
    border-width: 1px;
    color: #626E90;
    width: 590px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 75px;
}

.btn-create-user {
    background-color: #6E80B1;
    border-color: #6E80B1;
    margin-top: 20px;
    margin-bottom: 15px;
}

.actions-create-user {
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
